.self-button{
  position: absolute;
  right: 132px;
  top: 50%;
  transform: translateY(-50%);
}
.self-buttons{
  text-align: right;
  padding-bottom: 4px;
  position: relative;
}
.self-page{
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
}
.self-root-div{
  position: relative;
}
.layout{
  border: 1px solid #d7dde4;
  background: #f5f7f9;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
.layout-footer-center{
  text-align: center;
  padding: 8px 0;
}
.layout-logo{
  width: 160px;
  line-height: 64px;
  color: white;
  border-radius: 3px;
  float: left;
  position: relative;
}
.layout-nav{
  position: relative;
  float: right;
  right: 4em;
  /*line-height: 48px;*/
}

.ivu-layout-header{
  height: 48px;
  line-height: 48px;
}

.ivu-layout-header .ivu-menu-horizontal{
  height: inherit;
  line-height: inherit;
}
